*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: none;
}

footer {
  display: none;
}


body {
  margin: 0;
  background: #f2f2f2;
  font-size: 18px;
}

.title{
  font-size: 20px;
  padding: 5% 0 3% 0;
}

hr{
  border-color: #e2e2e2;
}

a {
  text-decoration-line: none;
  /* 색 변경 필요 */
  color: #adadad;
}

.container {
  background-color: white;
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
  /* 컨테이너 안에 컨텐츠 들어가면 삭제 필요 */
  min-height: 800px;
  max-width: 768px;
  margin: 0 auto;
  padding: 30px 45px;
  /*margin-bottom: 150px;*/
  margin-top: 80px;
  border-radius: 20px;
}


button {
  border-radius: 5px;
  border: none;
  font-size: 15px;
  color: #808080;
  border-radius: 5px;
  background-color:#e5e5e5;
  cursor: pointer;
}

button:hover {
  background-color: #3e9ce4; 
  color: white;
} 

/* header css */
header{
  display: flex;
  justify-content: center;
  padding: 10px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f2f2f2;
}

.search {
  background-color: #D6E3ED;
  border-radius: 50px;
  padding: 5px 20px;
  width: 500px;
  height: 50px;
  display: flex;
}

.search input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #D6E3ED;
}

.search input[type="text"]:focus {
  outline: none;
}

.search .search-button {
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  background-color: #D6E3ED;
  display: flex;
  justify-content: end;
  align-items: center;
}

.user-infor {
  height: 50px;
  padding: 5px 30px;
  display: flex;
  align-items : center;
}

.user-infor img {
  border-radius: 50px;
}

.user-infor .nickname {
  padding-left: 10px;
}

.alarm {
  display: flex;
  align-items: flex-start;
}

.alarm div{
  padding-left: 10px;
}

/* footer */
footer {
  display: block;
  /* 로그인 페이지에는 안보이게 설정 */
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 6rem;
  width: 100%;
  height: 56px;
  background-color: #e6e6e6;
}
