.container {
    margin-top: 80px;
    border-radius: 20px;
    padding: 25px 50px;
}

.message-container{
    border: 1px solid red;
    border-radius: 10px;
    height: 500px;
}
.message-view-container{
    padding: 8px;
}

.message-title{
    display: flex;
    justify-content: space-between;
}
.message-title-left, .message-title-right {
    display: flex;
}