button {
   background-color: white;
   color: black;
   border: 2px solid #adadad;
}

.container-inner-box {
   padding: 0px 5%
}

.mypage-sell-info-count-number {
   width: 100px;
   height: 80px;
   border: 3px solid #3e9ce4;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.mypage-sell-info-count-number>div {
   display: inline;
   font-size: 20px;
   font-weight: 800;
}

.mypage-sell-info-count-line {
   font-size: 3vwv;
   font-weight: 600;
   color: #3e9ce4;
}

/*판매 정보*/

#mypage-sell-info-title {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

#mypage-sell-info-title>div {
   font-size: 10px;
}

#mypage-sell-info-title>button {
   background: none;
   font-size: 10px;
   color: #3e9ce4;
}

#mypage-sell-info-count {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 2% 10%;
}

#mypage-sell-info-count-title {
   display: grid;
   grid-template-columns: 1.3fr 0.8fr 1.1fr 1.3fr;
   /* justify-content: space-between;
   align-items: center; */
   padding: 2% 8%;
   margin-bottom: 10%;
   font-size: 15px;
}

#mypage-sell-info-count-title>div {
   flex-grow: 1;
   text-align: center;
}

#mypage-sell-info-count-title-3 {
   padding-left: 20px;
}

#mypage-sell-issue {
   display: flex;
   background-color: #D2E0F4;
   border-radius: 5px;
}

#mypage-sell-issue>div {
   flex-grow: 1;
}

.work-progress {
   margin-top: 20px;
}

.mypage-sell-issue-delay {
   display: flex;
   justify-content: space-around;
   padding: 0 10%;
   align-items: center;
   height: 50px;
   font-weight: bold;
}

/* 기간설정 */

.period-setting {
   margin-top: 30px;
   margin-bottom: 10px;
}

.date {
   height: 30px;
}

/* 정렬순 */
.sort {
   font-size: 15px;
   font-weight: bold;
}

/* 판매정보 */
.my-sales-status {
   padding: 5px 15px;
   margin-top: 20px;
   border-radius: 5px;
   border: 2px solid #f2f2f2;
}

.my-sales-status-inner-box1 {
   display: flex;
   justify-content: space-between;
}

.status-schedule {
   display: flex;
}

.all-status-font {
   color: #D2E0F4;
   font-size: 20px;
}

.status-schedule-font {
   color: #D2E0F4;
}

.my-sales-status-inner-box2 {
   margin-top: 10px;
   margin-bottom: 10px;
   display: flex;
}

.my-sales-status-inner-service-information-inner-box {
   display: flex;
}

.my-sales-status-inner-img {
   height: 100px;
   width: 150px;
   margin-right: 20px;
}

.my-sales-status-inner-img img {
   height: 100%;
   width: 100%;
}

.service-name-font {
   color: #0809ec;
   font-size: 15px
}

.service-number-font {
   color: #0809ec;
   font-size: 20px
}

.service-price-font {
   color: #0809ec;
   font-size: 18px
}

.my-sales-status-inner-service-information {
   width: 250px;
   border-right: 2px solid #f2f2f2;
}

.expert-information-img {
   height: 50px;
   width: 50px;
   overflow: hidden;
   border-radius: 100%;
}

.expert-information-img img {
   width: 50px;
   /* 이미지의 크기를 설정하세요. */
   height: 50px;
   /* 이미지의 크기를 설정하세요. */
   border-radius: 50px;
   /* 이미지를 원형으로 만듭니다. */
   object-fit: cover;
   /* 이미지가 요소에 맞게 잘릴 수 있도록 설정합니다. */
}

.expert-information-1 {
   display: flex;
   margin-top: 10px;
   margin-left: 10px;
}

.expert-nickname {
   display: flex;
   align-items: center;
   margin-left: 2px;
   font-size: 12px;
}

.expert-information-2 {
   display: flex;
   justify-content: center;
   margin-top: 5px;
   font-size: 15px;
   padding-left: 50px;
}

button {
   width: 100px;
   height: 30px;
   margin-right: 5px;
}