
/* class */

.payment-container {
  width: 85%;
  height: 100%;
  margin: auto;
  padding: 1%;
  -ms-overflow-style: none;
  padding-bottom: 15%;
}

.payment-container::-webkit-scrollbar {
  display: none;
}

.payment-main-title {
  font-size: 18px;
  color: #5e5e5e;
  margin: 2%;
}

.payment-category {
  border-bottom: 1px solid #d9d9d9;
}

.payment-category-title,
.payment-category-items {
  display: flex;
  justify-content: space-around;
}

.payment-category-title > div {
  flex-grow: 1;
  width: 50%;
}

.payment-sub-title {
  display: flex;
  align-items: center;
  color: #adadad;
  text-align: center;
  font-size: 15px;
}

.payment-sub-items {
  display: flex;
  color: #adadad;
  text-align: center;
  margin-top: 2%;
}

.payment-sub-title > div {
  flex-grow: 1;
  width: 33%;
}

.payment-sub-items > div {
  flex-grow: 1;
  width: 33%;
}

.payment-basic-items-content {
  display: inline-flex;
  align-items: center;
  margin-bottom: 1%;
}

.payment-basic-items-content > img {
  margin-right: 2%;
}

.payment-basic-items-content > span {
  margin-right: 2%;
  font-size: 10px;
  color: #5e5e5e;
  font-weight: 300;
}

.payment-basic-sub-item {
  color: #0809ec;
  font-size: 10px;
  font-weight: 400;
}

/*총 결제금액*/
.payment-total-list {
  display: flex;
  justify-content: space-between;
  padding: 2%;
  font-weight: 400;
  font-size: 15px;
  color: #9d9d9d;
}

.payment-total-list-money {
  color: #0809ec;
}

/* id */

#payment-order-list-detail {
  display: flex;
}

#payment-order-img {
  border-radius: 5px;
  float: left;
}

#payment-order-title {
  padding: 0% 2%;
}

#payment-order-title > span {
  font-weight: 600;
  font-size: 15px;
}

#payment-company {
  display: flex;
  align-items: center;
  padding-top: 1%;
}

#payment-company-img {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}

#payment-company-img > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#payment-company > span {
  padding-left: 3%;
  font-size: 1vw;
  color: #9d9d9d;
}

#payment-main-items-title > span {
  font-size: 1vw;
  font-weight: 600;
  color: #5e5e5e;
  padding-left: 2%;
}

/* 기본항목 */
#payment-basic-items-content-group {
    padding-left: 5%;
}

#payment-sub-items-count-check > select {
  padding: 2% 10%;
  border: 1px solid #d9d9d9;
}

/* 옵션항목 */
#payment-option {
  border-bottom: 1px solid #d9d9d9;
}

#payment-option-page {
  margin: 2%;
}

#payment-option-page > label {
  color: #adadad;
  font-weight: 400;
  font-size: 10px;
}

/* 마일리지 */
#payment-mileage-list {
  padding-top: 5%;
}

#payment-mileage-content {
  border-bottom: 1px solid #d9d9d9;
  padding: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#payment-mileage-content-title {
  font-size: 10px;
  font-weight: 400;
  color: #595959;
}

#payment-mileage-content-detail {
  width: 70%;
  display: flex;
  align-items: end;
  justify-content: center;
}

#payment-mileage-content-detail > input {
  font-size: 10px;
  border-radius: 0;
  border: 1px solid #d9d9d9;
  width: 60%;
  padding: 2%;
}

#payment-mileage-content-detail > span {
  font-size: 8px;
  margin-left: 2%;
  color: #adadad;
}

#payment-mileage-content > button {
  width: 15%;
  height: 30px;
  font-size: 15px;
  color: #adadad;
}

/* 결제방식 */
#payment-plan-list {
  padding-top: 5%;
}

/*결제 안내사항*/
#payment-notice {
  padding-top: 5%;
  border-bottom: 1px solid #d9d9d9;
}

#payment-notice-title {
  margin: 2%;
  font-size: 10px;
  color: #adadad;
}

/*요청 사항*/
#payment-request-textbox {
  margin: 3% 0;
}

#payment-request-textbox > textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #d9d9d9;
  font-size: 0.8vw;
  color: #adadad;
  padding-top: 2%;
}

#payment-request-textbox > textarea::placeholder {
  color: #adadad;
  padding-left: 2%;
}

/*총 결제금액*/
#payment-total {
  border: 1px solid #d9d9d9;
  padding: 1%;
  margin-bottom: 20%;
}

#payment-total-money-last {
  font-size: 1.8vw;
  font-weight: 700;
  color: #4e4e4e;
}

#payment-total-money-last-number {
  font-size: 20px;
  font-weight: 700;
  color: #3e9ce4;
}

/*결제 동의 & 결제하기 버튼 */
#payment-agree-paybtn {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 5%;
}

#payment-agree-paybtn > div {
  width: 100%;
  max-width: 768px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 5px 1px #d9d9d9 inset;
  background-color: white;
}

#payment-agree-paybtn > div > span {
  color: #adadad;
  font-size: 1vw;
  margin: 0 0 0 5%;
}

#payment-agree-paybtn > div > button {
  margin: 0 5% 0 0;
  width: 25%;
}
