.container-innerbox {
    padding: 0% 10%;
}

.save-content {
    margin: 0px 10px;
}

.save-content-detail {
    display: flex;
    /*border: 1px solid red;*/
    margin-top: 10px;
}

.save-content-input-file {
    display: flex;
    align-items: center;
}

.save-content-text {
    width: 30%;
    font-size: 15px;
    padding: 5px 0px;
}

.save-content-input {
    width: 70%;
    display: flex;
}

.save-content-input input,
textarea,
select {
    padding: 5px;
    width: 100%;
    border: 1px solid #adadad;
    height: 30px;
}

.save-content-input-file {
    display: flex;
}

.save-content-input-file input {
    width: 50px;
}


/* 서비스제목, 작업일 아래 회색 작은글씨 */
.save-content>div>p {
    margin-top: 5px;
    font-size: 12px;
    color: #0809ec;
}

.details-info {
    margin-top: 10px;
    font-size: 20px;
}

.save-content-explanation {
    /* 설명 부분 마우스로 조절되던거 못하게 */
    resize: none;
}

/* 이미지 등록했을 때 제목 */
.servie-save-content-img-title {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    align-items: center;
    border: 1px solid #adadad;
    border-radius: 50px;
    width: 180px;
    height: 30px;
    padding: 0px 10px;
    margin-right: 10px;
}

.servie-save-content-img-title-text {
    font-size: 15px;
}


/* 이미지, 동영상 업로드할 때 뒤에 작은 회색글씨 */
.save-content-upload-explanation {
    font-size: 10px;
    color: #adadad;
}

.save-button {
    margin-top: 20px;
    border-radius: 5px;
    width: 100%;
    padding: 20px 0px;
}

/* id */
/* #price::after {
    content: "원";
    position: absolute;
    padding-left: 280px;
    color: black;
}

#period::after {
    content: "일";
    position: absolute;
    padding-left: 280px;
    color: black;
}

#revisions::after {
    content: "회";
    position: absolute;
    padding-left: 280px;
    color: black;
} */