#vacation-setting{
    padding: 30px 50px
    
}

.vacation-setting{
    margin-left: 20px;
    font-size: 30px;
    color: black;
    font-weight:500 ;
}
hr{
    border-color: 2px solid rgba(0, 0, 0, 0.2) ;
}
.vacation-setting-inner-box{
    padding: 0px 50px;
}

.reason-setting{
    margin-top: 20px; 
    font-size: 20px;
    color: black;
    font-weight:500 ;
}
#reason-setting-select{
    margin-top: 10px;
    height: 50px;
    width: 100%;
    font-size: 20px; /* 글자 크기 설정 */
    color: rgba(0, 0, 0, 0.5) ; /* 글자 색상 설정 (예: 빨간색) */
    border-radius: 5px;
}
.reason-period-setting{
    margin-top: 50px; 
    font-size: 20px;
    color: black;
    font-weight:500 ;
}
#reason-period-setting-select{
    margin-top: 10px;
    height: 50px;
    width: 100%;
    font-size: 20px; /* 글자 크기 설정 */
    color: rgba(0, 0, 0, 0.5) ; /* 글자 색상 설정 (예: 빨간색) */
    border-radius: 5px;
}
.vacation-setting-warning{
    margin-top: 30px;
    color: rgba(0, 0, 0, 0.5) ;
    font-size: 15px;
}
button{
    margin-top: 100px;
    height: 50px;
    width: 100%;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5) ;
}