#vacation-setting {
    padding: 0% 10%
}

.vacation-setting {
    margin-left: 20px;
    color: black;
    font-weight: 500;
}

.vacation-setting-inner-box {
    padding: 0px 50px;
}

.reason-setting {
    margin-top: 20px;
    font-size: 20px;
    color: black;
    font-weight: 500;
}

#reason-select {
    margin-top: 10px;
    height: 50px;
    width: 100%;
    font-size: 20px;
    /* 글자 크기 설정 */
    color: #adadad;
    /* 글자 색상 설정 (예: 빨간색) */
    border-radius: 5px;
}

.reason-period-setting {
    margin-top: 50px;
    font-size: 20px;
    color: black;
    font-weight: 500;
}

.vacation-setting-warning {
    display: flex;
    margin-top: 30px;
    color: #adadad;
    font-size: 12px;
}

.vacation-setting-warning>div {
    padding-left: 10px;
}

button {
    margin-top: 100px;
    height: 50px;
    width: 100%;
}